body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #f7d9aa, #f0a54e); /* Gradient background */
}

.wrapper {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.header {
  background-color: #fff;
  padding: 20px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: #333; /* Dark color for h1 */
  margin: 0; /* Remove default margin */
}

.sidebar {
  width: 250px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 20px; /* Space between sidebar and app */
}

.moves-list {
  list-style-type: none; /* Remove default list style */
  padding: 0; /* Remove default padding */
  margin: 0;
}

.moves-list li {
  margin: 10px 0;
}

.moves-button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
  text-align: left;
}

.moves-button:hover {
  background-color: #e0e0e0; /* Light gray background on hover */
}

.space {
  display: flex;
  width: 10%; /* Space between sidebar and main content */
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.board-container {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  border-radius: 10px;
}

.board {
  text-align: center;
}

.row {
  display: flex;
}

.square {
  width: 60px;
  height: 60px;
  font-size: 24px;
  margin: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.square:hover {
  background-color: #f0f0f0; /* Light gray background on hover */
}

.top_message {
  font-size: 20px;
  font-weight: bold;
}

